body {
    font-family: Avenir Next, sans-serif;
}

h1,h2 {
    font-weight: bolder;
}

h3 {
    font-weight: bold;
}

@media print {
 body {
      font-family: Avenir Next, sans-serif;
  }
}

/* can fix some content for convenient sidebar access */
/*
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 33%;
}*/
